# Mock switches
VITE_USE_MSW=false
VITE_USE_SOCKET_MOCK=false

# API and Socket.IO endpoints
VITE_API_BASE_URL=http://localhost:3000/
VITE_SOCKET_URL=http://localhost:3000

# Application integrations
VITE_SOCIAL_LOGIN_URL=http://localhost:3000
VITE_ASSET_CDN_URL=
VITE_SECRET_PAGE=/admin
